<div class="report-wrapper">
  <h2 class="title">Reports</h2>

  <div class="filter-card">
    <form [formGroup]="form" (ngSubmit)="search()">
      <input type="date" formControlName="startDate" />
      <input type="date" formControlName="endDate" />
      <input type="text" formControlName="customerName" placeholder="Customer Name" />

      <button type="submit" class="submit-btn">Search</button>
    </form>
  </div>

  <div *ngIf="data.length == 0" class="no-data">
    {{ flag ? errmsg : 'No Data Found' }}
  </div>

  <div *ngIf="data.length > 0" class="table-container">
    <table>
      <tr>
        <th>Name</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>

      <tr *ngFor="let item of data">
        <td>
          <span *ngIf="editRowId !== item.id">
            {{ item.customerName }}
          </span>
          <input *ngIf="editRowId === item.id" [(ngModel)]="edititem.customerName" />
        </td>
        <td>
          <span *ngIf="editRowId !== item.id">
            {{ item.productName }}
          </span>
          <input *ngIf="editRowId === item.id" [(ngModel)]="edititem.productName" />
        </td>
        <td>
          <span *ngIf="editRowId !== item.id">
            {{ item.quantity }}
          </span>
          <input *ngIf="editRowId === item.id" [(ngModel)]="edititem.quantity" />
        </td>
        <td>
          <span *ngIf="editRowId !== item.id">
            {{ item.price | currency: 'INR' }}
          </span>
          <input *ngIf="editRowId === item.id" [(ngModel)]="edititem.price" />
        </td>
        <td>{{ item.amount | currency: 'INR' }}</td>
        <td>{{ item.date }}</td>
        <td class="action-cell">
          <ng-container *ngIf="editRowId !== item.id && deleteRowId !== item.id"
            ><button type="button" class="action-btn edit" (click)="onEdit(item)">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="action-btn delete" (click)="onDelete(item)">
              <i class="fas fa-trash"></i></button
          ></ng-container>

          <ng-container *ngIf="editRowId === item.id"
            ><button type="button" class="action-btn save" (click)="saveEdit()">
              <i class="fas fa-check"></i>
            </button>
            <button type="button" class="action-btn cancel" (click)="cancelEdit()">
              <i class="fas fa-times"></i></button
          ></ng-container>
          <ng-container *ngIf="deleteRowId === item.id"
            ><button type="button" class="action-btn save" (click)="confirmDeletion(item.id)">
              <i class="fas fa-check"></i>
            </button>
            <button type="button" class="action-btn cancel" (click)="cancelDelete()">
              <i class="fas fa-times"></i></button
          ></ng-container>
        </td>
      </tr>
    </table>
  </div>
</div>
